# User-specific stuff
.idea/*



# ignore png files
*.png

# ignore PDB files for now..
*.pdb


# python venv stuff
venv/*


#python extra cache stuff
*.pyc

# cache stuff
._*

# ATSAS files
*.alm
*.log
*.fit
*.pdf
*.sav
*.int
*.flm
*.abs
*.txt

# Data files (.dat)

*.dat
